{
  "root": true,
  "extends": [
    "@nuxt/eslint-config",
    "plugin:perfectionist/recommended-natural",
    "plugin:@stylistic/recommended-extends",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "vue/max-attributes-per-line": ["warn", {
      "singleline": {
        "max": 3
      },      
      "multiline": {
        "max": 1
      }
    }],
    "vue/attributes-order": "off"
  }
}
