# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Nuxt layer
/.github
/.playground
/.eslitntignore
/.eslitrc
/tsconfig.json

# Node dependencies
node_modules
.pnpm-store

# Local env files
.env
.env.*
!.env.example

# Logs
logs
*.log

# VSCode
/.vscode

# Misc
.DS_Store
.AppleDouble
.LSOverride
.fleet
.idea

# Project specific
