html {
  font-family: "DM Mono", monospace;
  font-family: "DM Sans";
}

body {
  @apply text-foreground bg-background;
}

/* Scrollbar Start */
::-webkit-scrollbar {
  width: min(.5rem, 8px);
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-foreground/20;
  border-radius: min(.25rem, 4px);
  border: 2px var(--s94-ui-background) solid;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-foreground/40;
}
::-webkit-scrollbar-thumb:active {
  @apply bg-primary;
}
/* Scrollbar End */

.linkExternalArrow {
  width: auto;
  height: 50%;
  aspect-ratio: 1;
  position: absolute;
  top: 10%;
  transform: translate(100%);
  right: 0%;
}
