body {
  @apply font-sans text-foreground bg-background;
}

.linkExternalArrow {
  width: auto;
  height: 50%;
  aspect-ratio: 1;
  position: absolute;
  top: 10%;
  transform: translate(100%);
  right: 0%;
}