@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --color-current: currentColor;
  --color-transparent: transparent;

  --width-breakpoint-sm: var(--breakpoint-sm);
  --width-breakpoint-md: var(--breakpoint-md);
  --width-breakpoint-lg: var(--breakpoint-lg);
  --width-breakpoint-xl: var(--breakpoint-xl);
  --width-breakpoint-2xl: var(--breakpoint-2xl);
}

:root {
  --s94-ui-header: 4.5rem;

  --ui-text: #090909;
  --ui-bg: #fafafa;
}

.dark {
  --ui-text: #fafafa;
  --ui-bg: #090909;
}

  /* Scrollbar Start */
  ::-webkit-scrollbar {
    width: min(.5rem, 8px);
  }
  ::-webkit-scrollbar-track {
    @apply bg-[--ui-bg];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[--ui-text]/20 border-[--ui-bg] border-2;
    border-radius: min(.25rem, 4px);
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[--ui-text]/40;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-[--ui-primary];
  }
  /* Scrollbar End */

.linkExternalArrow {
  width: auto;
  height: 50%;
  aspect-ratio: 1;
  position: absolute;
  top: 10%;
  transform: translate(100%);
  right: 0%;
}
