@import "tailwindcss";
@import "@nuxt/ui";

@plugin "@tailwindcss/typography";

@theme {
  --color-current: currentColor;
  --color-transparent: transparent;

  --width-breakpoint-sm: var(--breakpoint-sm);
  --width-breakpoint-md: var(--breakpoint-md);
  --width-breakpoint-lg: var(--breakpoint-lg);
  --width-breakpoint-xl: var(--breakpoint-xl);
  --width-breakpoint-2xl: var(--breakpoint-2xl);
}

@layer base {
  :root {
    --ui-header-height: 3.5rem;
  
    --ui-color-neutral-950: #090909;
  
    --ui-text-highlighted: var(--ui-color-neutral-950);
    --ui-bg: var(--ui-color-neutral-50);
  }
  
  .dark {
    --ui-text-highlighted: var(--ui-color-neutral-50);
    --ui-bg: var(--ui-color-neutral-950);
  }
}

/* Scrollbar Start */
::-webkit-scrollbar {
  width: min(.5rem, 8px);
}
::-webkit-scrollbar-track {
  @apply bg-[var(--ui-bg)];
}
::-webkit-scrollbar-thumb {
  @apply bg-[var(--ui-text)]/20 border-[var(--ui-bg)] border-2;
  border-radius: min(.25rem, 4px);
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-[var(--ui-text)]/40;
}
::-webkit-scrollbar-thumb:active {
  @apply bg-[var(--ui-primary)];
}
/* Scrollbar End */

.linkExternalArrow {
  width: auto;
  height: 50%;
  aspect-ratio: 1;
  position: absolute;
  top: 10%;
  transform: translate(100%);
  right: 0%;
}
